<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>Form peminjaman</title>
</head>
<body>
    <label><h1>Form Peminjaman</h1></label>
    <div class= "form">
        <form action="" method="POST">
            {% csrf_token %} 
            <label for="na">Nomor Anggota</label>
            <input type="number" class="form-control" name="na">
            <br>
            <label for="np">Nama Pengunjung</label>
            <input type="text" class="form-control" name="np">
            <br>
            <label for="nb">Nama Buku</label>
            <input type="text" class="form-control" name="nb">
            <br>
            <label for="jb">Jumlah Buku</label>
            <input type="number" class="form-control" name="jb">
            <br>
            <label for="tp">Tgl-Pinjam</label>
            <input type="date" class="form-control" name="tp">
            <br>
            <label for="tk">Tgl-kembali</label>
            <input type="date" class="form-control" name="tk">
            <button type="submit" >Simpan </button>
        </form>
    </div>
    <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nomor Anggota</th>
            <th scope="col">Nama Pengunjung</th>
            <th scope="col">Nama Buku</th>
            <th scope="col">Jumlah Buku</th>
            <th scope="col">Tgl-Pinjam</th>
            <th scope="col">Tgl-Kembali</th>
          </tr>
        </thead>
        {% for z in isi %}
        <tbody>
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{z.na}}</td>
            <td>{{z.np}}</td>
            <td>{{z.nb}}</td>
            <td>{{z.jb}}</td>
            <td>{{z.tp}}</td>
            <td>{{z.tk}}</td>
            <!-- <td> 
                <a type="submit" class="btn btn-success" href="/{{z.id}}/delete">Delete</a>
                <a type="submit" class="btn btn-success" href="/{{z.id}}/detail/">view</a>
                <a type="submit" class="btn btn-success" href="/{{z.id}}/update/">Edit</a>
            </td> -->
          </tr>
        </tbody>
        {% endfor %}                            
      </table>
</body>
</html>